@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding: 2rem;
  box-sizing: border-box;
}

:root {
  --color-watermelon: #FF3B3F;
  --color-carbon: #A9A9A9;
  --color-neutral: #EFEFEF;
  --color-sky: #CAEBF2;
  --color-black: #000;
  --color-lgray: #d3d3d3;
}

body {
  background-color: var(--color-neutral);
  font-family: "Roboto";
  font-size: 1.2rem;
  color: var(--color-black);
  -webkit-animation: pulldown 0.5s ease-in-out;
          animation: pulldown 0.5s ease-in-out;
}

header {
  height: 14rem;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 5rem;
}
section .body {
  font-size: medium;
}
section .body .main-image {
  background-size: contain;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.section {
  transform: translateY(0) scale(0);
  transition: all 0.4s ease-in-out;
  display: none;
  transform: translateY(0) scale(1);
  background-color: var(--color-neutral);
}

.active-sec {
  display: block;
  -webkit-animation: pulldown 0.25s linear;
          animation: pulldown 0.25s linear;
}

.controls {
  color: var(--color-black);
  position: fixed;
  display: flex;
  top: 3%;
  left: 50%;
  flex-direction: row;
  align-items: center;
  align-content: center;
  transform: translateX(-50%);
}

.control {
  padding: 0.5rem;
  cursor: pointer;
  background-color: var(--color-carbon);
  opacity: 0.8;
  color: white;
  width: 55px;
  height: 55px;
  border-radius: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 1rem;
}

.active-btn {
  background-color: var(--color-watermelon);
  transition: all 0.1s ease-in-out;
  -webkit-animation: bulge 1s linear;
          animation: bulge 1s linear;
}

.title {
  text-align: center;
}
.title h2 {
  color: var(--color-black);
  position: absolute;
  left: 50%;
  top: 8rem;
  transform: translate(-50%, 0%);
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 700;
}
.title h2 span {
  color: var(--color-watermelon);
}
.title h2 .shadow {
  position: absolute;
  top: -35%;
  left: 50%;
  color: var(--color-carbon);
  z-index: -1;
  transform: translate(-50%, 0);
  font-weight: 800;
  font-size: 5rem;
  opacity: 0.33;
}

main .preview {
  position: relative;
  width: 75%; /* == (400px + 20px + 20px) * .5 = 220px */
  height: 25%; /* == (160px + 30px + 30px) * .25 = 55px */
  margin-left: 12.5%; /* == (400px + 20px + 20px) * .05 = 22px */
  margin-top: 0%;
  padding: 0px; /* == (400px + 20px + 20px) * .05 = 22px */
}
main .preview img {
  width: 100%;
}
main p {
  position: relative;
  width: 100%; /* == (400px + 20px + 20px) * .5 = 220px */
  height: 100%; /* == (160px + 30px + 30px) * .25 = 55px */
  margin-left: 0%; /* == (400px + 20px + 20px) * .05 = 22px */
  margin-top: 0%;
  padding: 15px 17.5%; /* == (400px + 20px + 20px) * .05 = 22px */
  background: var(--color-lgray);
}
main h4 {
  position: relative;
  width: 100%; /* == (400px + 20px + 20px) * .5 = 220px */
  height: 100%; /* == (160px + 30px + 30px) * .25 = 55px */
  margin-left: 0%; /* == (400px + 20px + 20px) * .05 = 22px */
  margin-top: 0%;
  padding: 15px 17.5%; /* == (400px + 20px + 20px) * .05 = 22px */
  background: var(--color-lgray);
  font-weight: 600;
}
main iframe {
  width: 50%; /* == (400px + 20px + 20px) * .5 = 220px */
  margin-left: 25%; /* == (400px + 20px + 20px) * .05 = 22px */
  height: 500px;
}
main ul {
  position: relative;
  width: 100%; /* == (400px + 20px + 20px) * .5 = 220px */
  height: 100%; /* == (160px + 30px + 30px) * .25 = 55px */
  margin-left: 0%; /* == (400px + 20px + 20px) * .05 = 22px */
  margin-top: 0%;
  padding: 15px 17.5%; /* == (400px + 20px + 20px) * .05 = 22px */
  background: var(--color-lgray);
}
main .pic img {
  position: relative;
  height: 100%; /* == (160px + 30px + 30px) * .25 = 55px */
  width: 40%;
  margin-left: 30%; /* == (400px + 20px + 20px) * .05 = 22px */
  margin-top: 0%;
  padding: 15px 0px; /* == (400px + 20px + 20px) * .05 = 22px */
}
main .table {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  width: 50%;
  margin-left: 25%;
}
main .table .child {
  width: 100%;
}
main .table .child img {
  width: 100%;
}

.posts {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 3rem;
  grid-column-gap: 3rem;
  margin-top: 12rem;
}
.posts .post {
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}
.posts .post .text {
  height: auto;
  background-color: var(--color-carbon);
  text-align: center;
  margin-top: -7px;
  padding: 0.5rem;
  border-top: 8px solid var(--color-watermelon);
  color: var(--color-neutral);
  z-index: -1;
}
.posts .post h5 {
  font-family: "Roboto", sans-serif;
  height: auto;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-top: 0%;
  z-index: -1;
  font-weight: normal;
  color: var(--color-black);
}
.posts .post .picture :hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transform: scale(1.1);
  transition: all 0.4 ease-in-out;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 99;
}
.posts .post .picture :hover img {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.8);
}
.posts .post .picture img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.4 ease-in-out;
}

@media screen and (max-width: 1000px) {
  header {
    height: 12.5rem;
  }
  .title h2 {
    font-size: 3.3rem;
  }
  .title h2 .shadow {
    font-size: 3.8rem;
  }
  section {
    padding: 3rem 2rem;
  }
  .posts {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10rem;
  }
  body {
    font-size: 1rem;
  }
  main .preview {
    width: 100%; /* == (400px + 20px + 20px) * .5 = 220px */
    margin-left: 0%; /* == (400px + 20px + 20px) * .05 = 22px */
  }
  main p {
    width: 100%; /* == (400px + 20px + 20px) * .5 = 220px */
    margin-left: 0%; /* == (400px + 20px + 20px) * .05 = 22px */
    padding: 10px 15%; /* == (400px + 20px + 20px) * .05 = 22px */
    background: var(--color-lgray);
  }
  main h4 {
    width: 100%; /* == (400px + 20px + 20px) * .5 = 220px */
    margin-left: 0%; /* == (400px + 20px + 20px) * .05 = 22px */
    padding: 10px 15%; /* == (400px + 20px + 20px) * .05 = 22px */
    background: var(--color-lgray);
  }
  main iframe {
    width: 70%; /* == (400px + 20px + 20px) * .5 = 220px */
    margin-left: 15%; /* == (400px + 20px + 20px) * .05 = 22px */
  }
  main .pic img {
    width: 70%;
    margin-left: 15%; /* == (400px + 20px + 20px) * .05 = 22px */
  }
  main .table {
    width: 80%;
    margin-left: 10%;
  }
}
@media screen and (max-width: 600px) {
  header {
    height: 11rem;
  }
  .title h2 {
    font-size: 2rem;
  }
  .title h2 .shadow {
    font-size: 2.5rem;
  }
  section {
    padding: 3rem 1rem;
  }
  .posts {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 8rem;
  }
  body {
    font-size: 1rem;
  }
  main .preview {
    width: 100%; /* == (400px + 20px + 20px) * .5 = 220px */
    margin-left: 0%; /* == (400px + 20px + 20px) * .05 = 22px */
  }
  main p {
    width: 100%; /* == (400px + 20px + 20px) * .5 = 220px */
    margin-left: 0%; /* == (400px + 20px + 20px) * .05 = 22px */
    padding: 10px 15px; /* == (400px + 20px + 20px) * .05 = 22px */
    background: var(--color-lgray);
  }
  main h4 {
    width: 100%; /* == (400px + 20px + 20px) * .5 = 220px */
    margin-left: 0%; /* == (400px + 20px + 20px) * .05 = 22px */
    padding: 10px 15px; /* == (400px + 20px + 20px) * .05 = 22px */
    background: var(--color-lgray);
  }
  main iframe {
    width: 90%; /* == (400px + 20px + 20px) * .5 = 220px */
    margin-left: 5%; /* == (400px + 20px + 20px) * .05 = 22px */
    height: 300px;
  }
  main .pic img {
    width: 75%;
    margin-left: 12.5%; /* == (400px + 20px + 20px) * .05 = 22px */
  }
  main .table {
    width: 90%;
    margin-left: 5%;
  }
}
@-webkit-keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes pulldown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes pulldown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes pullup {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}
@keyframes pullup {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}
@-webkit-keyframes bulge {
  0% {
    opacity: 0.75;
    transform: scale(0.8, 0.8);
  }
  20% {
    opacity: 1;
    transform: scale(1.3, 1.3);
  }
  100% {
    opacity: 0.75;
    transform: scale(1, 1);
  }
}
@keyframes bulge {
  0% {
    opacity: 0.75;
    transform: scale(0.8, 0.8);
  }
  20% {
    opacity: 1;
    transform: scale(1.3, 1.3);
  }
  100% {
    opacity: 0.75;
    transform: scale(1, 1);
  }
}/*# sourceMappingURL=project.css.map */